body {
  background: rgb(2, 41, 41);
}

.lead {
  text-align: center;
}

.timenow {
  color: white;
}

.display-4 {
  text-align: center;
  color: black;
}

.form-control {
  width: 700px;
}

h1 {
  text-align: center;
  color: white;
}

.btn-success {
  text-align: center;
  float: center;
}

/* #btn9 {
  background: red;
} */
